<html>
    <head>
        <title>Footen Kitchen</title>
    </head>
    <body>
        <div>
            <h1><a href="/">Footen Kitchen</a></h1>
        </div>

        <div>
            <p>published: 14.06.2014, 12:14</p>
            <h2><a href="">About Us</a></h2>
            <p>Last year travelling around and living outside, I was pretty stunned Japan is still considered to be an exotic countries that everything is <em>"so different"</em>.</p>
        </div>

        <div>
            <p>published: 14.06.2014, 12:14</p>
            <h2><a href="">Tradition</a></h2>
            <p>What do you think of the word "tradition"? </p>
        </div>
    </body>
</html>
